.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 48px;
  width: 50%;
  padding: 8px;
}