.box{
  width: 4rem;
  height: 4rem;
  min-width: 3rem;
  min-height: 3rem;
  /* border: 2px solid black; */
  margin: 4px;
  /* background: rgb(240, 240, 240); */
}

.input {
  font-family: 'Lora', serif;
  font-weight: 700;  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  text-align: center;
  border: 2px #d3d6da solid;
  padding: 0;
  margin: 0;
}