span button,
button img {
  background: rgb(240, 240, 240);
}

.keyButton {
  font-family: 'Lora', serif;
  font-weight: 700;
  max-height: 4rem;
  /* max-width: 3rem; */
  height: 3.5rem;
  width: 100%;
  /* margin: 4px; */
  border: 0;
  border-radius: 15%;
  background-color: #d3d6da;
  color: black;
}

.keyButtonContainer {
  width: 2.2rem;
  padding: 2px;
}
.specialButtonContainer {
  width: 3.5rem;
}